.board {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 3px;
}

.cell {
  background-color: blue;
  cursor: pointer;
}

.cell.yellow {
  background-color: yellow;
}

.cell.green {
  background-color: green;
}

.cell.red {
  background-color: red;
}