.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0s linear 0.3s;
  /* delay visibility to match opacity transition */
}

.modal-overlay.open {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s, visibility 0s;
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  opacity: 0;

  transition: opacity 0.3s, transform 0.3s;
}

.modal.open {
  opacity: 1;
}

.close-button {
  background: #ccc;
  color: #333;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
}

.modal-content {
  margin-top: 10px;
  color: black;
}